*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log

data
csv-data/*
!csv-data/README.md
public/uploads/*
!public/uploads/README.md
dist
.yarn-cache.tgz
.history
.vscode

.env
ecosystem.config.js
fcm.config.js
nodemon.json
