*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log

data
data-init
dist
server/storage
server/lib/wsdl/*.wsdl
.yarn-cache.tgz
.history
.vscode

.env
ecosystem.config.js
fcm.config.js
nodemon.json
